
    .grid {
        display: flex;   /* <--- required */
    }

    .column {
        flex: 1; /* <--- required (style column to fill the same space as the other columns) */
    }
    
    .row {
        margin: 2.5px;
        text-align: center;
        border-style: solid;
        border-color: white;
    }

    .row.-selected {
        background-color: red;
    }

 