    body {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .grid {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 1px;
        border: 5px solid purple;
        border-radius: 2px;
        width: 600px;
        height: 600px;
    }

    #btn {
        padding: 15px;;
        background-color: blue;
        font-weight: bold;
        font-style: italic;
        color: olivedrab;
    }

    .column {
        size: 37px;
        display: flex;
        flex-grow: 1;
    }
    
    .row {
        display: flex;
        flex-grow: 1;
        border-style: solid;
        border-color: white;
        filter: brightness(1);
    }
    
    .row.B80 {
        filter: brightness(0.8);
    }

    .row.B60 {
        filter: brightness(0.6);
    }

    .row.B40 {
        filter: brightness(0.4);
    }

    .row.B20 {
        filter: brightness(0.2);
    }

    .row.B00 {
        filter: brightness(0);
    }